script(src='/static/plugins/jquery-swipe/jquery.event.move.min.js')
script(src='/static/plugins/jquery-swipe/jquery.event.swipe.min.js')
script(src='/static/plugins/unslider/unslider.js')
script(src='/static/plugins/unslider-lazyload/unslider-lazyload.js')