// _photogallery.pug

section.c-photogallery

    div.c-photogallery-wrapper

        // ih-detail-photogallery
        // ih-photogallery

        // First Slide
        div.c-photogallery-teaser-image

            div.c-photogallery-teaser-image__link#slider1

                ul.unslider-wrap.unslider-carousel
                    li

        // ih-photogallery-thumbnails
        ul.c-photogallery-thumbnails__list.pg_thumbs

            // Navigation back
            li.c-photogallery-thumbnails__item.c-photogallery-thumbnails__item--nav.pg_prevThumbs.previous
                span.c-photogallery-thumbnails__link.c-photogallery-thumbnails__link--previous(title="Previous Image")

            // Thumbnails
            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            li.c-photogallery-thumbnails__item
                span.c-photogallery-thumbnails__link(title="Thumbnail")
                    img.c-photogallery-thumbnails__image.c-photogallery-thumbnails__image--inactive(src="" alt="")

            // Navigation forward
            li.c-photogallery-thumbnails__item.c-photogallery-thumbnails__item--nav.pg_nextThumbs
                span.c-photogallery-thumbnails__link.c-photogallery-thumbnails__link--next(title="Next Image")

        // END .c-photogallery-thumbnails
    // END .c-photogallery